html, body {
    height: 100%;
    width: 100%;
}

.msg-container {
    display: inline-table;
    width: 100%;
    height: 5vh;
}

.msg-sender {
    margin: 0;
    position: relative;
}

.msg-box {
    position: relative;
}

.msg-message {
    margin: 0;
}

.no-label {
    display: none;
}

.nonResize {
    resize: none;
}

#msg-form {
    display: inline-flex;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#chat-window {
    padding-left: 0px;
}

#char-current {
    right: 107;
}

.char-count {
    right: 80;
    position: fixed;
    display: inline-flex;
    color: lightslategray;
    pointer-events: auto;
}

textarea.form-control {
    height: 3em;
}