html, body {
    height: 100%;
    width: 100%;
}

.msg-container {
    display: inline-table;
    width: 100%;
    height: 5vh;
}

.msg-sender {
    margin: 0;
    position: relative;
}

.msg-box {
    position: relative;
}

.msg-message {
    margin: 0;
}

.no-label {
    display: none;
}

.nonResize {
    resize: none;
}

#msg-form {
    display: inline-flex;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#chat-window {
    padding-left: 0px;
}

#char-current {
    right: 107;
}

.char-count {
    right: 80;
    position: fixed;
    display: inline-flex;
    color: lightslategray;
    pointer-events: auto;
}

textarea.form-control {
    height: 3em;
}

.room-attr {
    padding: 5 5 5 0;
}

.room-name {
    padding: 5 5 5 0;
    font-size: x-large;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room-desc {
    padding: 5 5 5 0;
}

.room-memb {
    padding: 8 0;
}

.disableClick {
    pointer-events: none;
}

.btn-join,
.btn-join:active,
.btn-join:focus {
    padding: 5 5;
    color: white;
    background-color: lightskyblue;
    font-weight: bold;
    text-shadow: none;
}

.btn-joined {
    padding: 5 5;
    opacity: 0.85;
    color: lightskyblue;
    background-color: white;
    font-weight: bold;
    border: solid 2px lightskyblue;
}

.btn-join:hover {
    opacity: 1.0;
    color: #FA87A0;
    border-color: white;
}

.btn-joined:hover {
    opacity: 1.0;
    color: #FA87A0;
    border-color: lightskyblue;
}
