<!DOCTYPE html>
<html lang="en">
    <head>
        {% block javascript %}
        <!-- socket.io -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
        <!-- javascript file -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <title>{{ title }} LO:Chat</title>
    </head>
    <body>
        <div>
            <!-- Navigation Bar -->
            <b>LO:Chat | </b>
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            <a href="{{ url_for('main.chat') }}">Chat</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock  %}
    </body>
</html>
