{% extends "base.html" %}

<html>
{% block app_content %}

<div class="container-fluid">

    <div class="row">
        <ul id="chat-window"></ul>
    </div>

    <form id="msg-form" method="POST">
        <div class="">
            {{ form.message(id="chat-box", class="form-control nonResize", minlength=1, maxlength=320) }}
            {{ form.submit(id="chat-send", class="btn btn-primary", value="Send") }}
            <div id="char-count">
                <span id="char-current" class="characters">0</span>
                <span id="char-max" class="characters">/320</span>                
            </div>
        </div>
    </form>

</div>

{% endblock %}
</html>