{% extends "base.html" %}

<html>
{% block app_content %}

<div>

  <div class="row container-fluid">
    <ul id="chat-window">
      <li class="list-unstyled">Welcome to {{ room }}.</li>
    </ul>
  </div>

  <form id="msg-form" class="row container-fluid" method="POST">
    {{ form.message(id="chat-box", class="input-group form-control nonResize", minlength=1, maxlength=320) }}
    {{ form.submit(id="chat-send", class="input-group-append btn btn-primary", value="Send") }}
    <div class="row container-fluid" style= "padding-top: 39px">
        <div id="char-current" class="char-count input-group-append">0</div>
        <div id="char-max" class="char-count input-group-append">/320</div>
    </div>
  </form>

</div>

{% endblock %}
</html>