{% extends "base.html" %}

{% block app_content %}
<div class="box-container">
    <h1>User: {{ user.username }} </h1>
    <hr>
    {% if prev_url %}
        <a href="{{ prev_url }}"><b> < </b></a>&ensp;
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}"><b> > </b></a>
    {% endif %}&ensp;

    {% for m in messages %}
    <div class="msg-container">
        <div class="msg-sender">{{ m.sender.username }}</div>
        {% if loop.last %}
            <div class="msg-box"><p class="msg-message end-list">{{ m.body }}</p></div>
        {% else %}
            <div class="msg-box"><p class="msg-message">{{ m.body }}</p></div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<hr>
{% endblock %}